# Server
PORT=4000
NODE_ENV=development

# MongoDB
DB_URI=mongodb+srv://gharatkaustubh36_db_user:VxKRRf1au199kJSH@cluster0.27unprb.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=mern_ecommerce_super_secret_jwt_key_2024

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key
